<div id="wrapper">
    <div class="form-container">
        <span class="form-heading">Signup</span>
        <form (ngSubmit)="onSignup(authForm)" #authForm="ngForm">
            <div class="input-group">
                <mat-icon>person</mat-icon>
                <input
                    type="text"
                    placeholder="Username..." 
                    ngModel 
                    name="username"
                    required
                    #usernameInput="ngModel"
                >
                <mat-error *ngIf="usernameInput.invalid && usernameInput.touched">Username is required</mat-error>
                <span class="bar"></span>
            </div>
            <div class="input-group">
                <mat-icon>email</mat-icon>
                <input
                    type="email"
                    placeholder="Email..." 
                    ngModel 
                    name="email"
                    required
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    #emailInput="ngModel"
                >
                <mat-error *ngIf="emailInput.invalid && emailInput.touched">Please enter a valid email</mat-error>
                <span class="bar"></span>
            </div>
            <div class="input-group">
                <mat-icon>lock</mat-icon>
                <input 
                    type="password" 
                    placeholder="Password..." 
                    ngModel 
                    name="password"
                    required
                    minlength="6"
                    #passwordInput="ngModel"
                >
                <mat-error *ngIf="passwordInput.invalid && passwordInput.dirty">Please enter a stronger password</mat-error>
                <span class="bar"></span>
            </div>
            <div class="input-group">
                <button type="submit" *ngIf="!isLoading">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <div class="switch-login" *ngIf="!isLoading">
                <a routerLink="/login">Already have an account? <span>Login</span></a>
            </div>
        </form>
    </div>
</div>
