<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <mat-label>Enter name</mat-label>
            <input 
                matInput 
                type="text" 
                [ngModel] = "post?.title"
                name="postName"
                required
            >
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Leave a comment</mat-label>
            <textarea 
                matInput 
                [ngModel] = "post?.content"
                name="postContent"
                required
            ></textarea>
        </mat-form-field>

        <div>
            <button 
                mat-button 
                type="button"
                (click)="filePicker.click()"
            >
                <mat-icon>attachment</mat-icon>
            </button>
            <input type="file" #filePicker>
        </div>

        <button
            class="submitBtn" 
            mat-flat-button
            type="submit" 
            color="primary"
            [disabled]="!form.valid"
        >Post</button>
    </form>  
</mat-card>